/* class is .
    id is # */
body{
    background-color: black;
    color: #FFF;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#landing{
    color: maroon;
    text-align: center;
}
.return{
    background-color: rgb(36, 242, 36);
    color: maroon;
    padding: 10px
}
.one{
    background-color: rgba(27, 91, 91, 0.58);
    font-weight: bold;
}
.flex-container{
    display: flex;
}
.flex-container button{
    flex: 1;
    padding: 10px;
    margin: 10px;
}
img{
    max-width: 100%;
    height: auto;
}